main{
    min-height: 80vh;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3{
   padding: 1rem 0;
}
.rating{
   margin: 0.1em;
}
/*=========================================================
	/* carousel 
===========================================================*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/*=========================================================
	11 -> FOOTER
===========================================================*/
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
#footer {
    background: #15161D;
    color: #B9BABC;
  }
  
  #bottom-footer {
    background: #1E1F29;
  }
  
  .footer {
    margin: 30px 0px;
  }
  
  .footer .footer-title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 30px;
  }
  
  .footer-links li+li {
    margin-top: 15px;
  }
  
  .footer-links li a {
    color: #B9BABC;
  }
  
  .footer-links li i {
    margin-right: 15px;
    color: #D10024;
    width: 14px;
    text-align: center;
  }
  
  .footer-links li a:hover {
    color: #D10024;
  }
  
  .copyright {
    margin-top: 30px;
    display: block;
    font-size: 12px;
  }
  
  .footer-payments li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .footer-payments li a {
    color: #15161D;
    font-size: 36px;
    display: block;
  }

